.navbar {
  background-color: #641566; /* Purple background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo img {
  width: 249px;
height: 96px;
top: 44px;
left: 31px;
gap: 0px;
opacity: 0px;

}


.nav-links {
  
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light gray background */
  border-bottom: 1px solid #ccc; /* Light gray border */
  padding: 10px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.login-btn {

  background-color: #583781;
  width: 139.6px;
  height: 40.24px;
  top: 74px;
  left: 1252px;
  gap: 0px;
  border-radius: 4.72px 0px 0px 0px;
  opacity: 0px;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media a {
  margin-right: 10px;
  color: white;
}

.social-media i {
  font-size: 20px;
}

.hero {
  width: 1440px;
  height: 503px;
  top: 155px;
  padding: 2px 0px 0px 0px;
  gap: 0px;
  border: 0.82px solid #C9C9C9; /* Light gray border */
  box-shadow: 0px 4px 4px 0px #00000040; /* Slight shadow */
  background-color: #0000000D; /* Slightly transparent black */
  opacity: 1; /* Fully visible */
  transform: rotate(0deg); /* No rotation */
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  text-align: center;
}

.stat p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}